* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --background: #1E293B;
  --primary: #344465;
  --forminput: #2E3951;
  --placeholder: #747F92;
  --lable: #ffffff9a;
  --blue: #135BEC;
  --borderColor: #CED4DA;

  --borderRadeCont: 12px;
  --borderRade: 8px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0;
}

.main {
  display: inline-block;
  background-color: #1E293B;
  border: 1px solid var(--borderColor);
  padding: 20px;
  border-radius: var(--borderRadeCont);
  min-width: 600px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.222);
}

.bord {
  border: 1px solid var(--borderColor);
  padding: 10px;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.222);
}

h2 {
  color: #ffffffda;
  font-size: 28px;
  margin-bottom: 30px;
}

.main input,
textarea,
select {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 4px;
  padding: 4px 4px 4px 10px;
  background-color: #232F48;
  border: 1px solid var(--borderColor);
  color: #CED4DA;
}

input::placeholder {
  color: var(--placeholder);
  font-size: 13px;
}

select {
  color: var(--placeholder);
  font-size: 13px;
}

textarea::placeholder {
  color: var(--placeholder);
  font-size: 13px;
}

textarea {
  height: 110px;
  resize: none;
}

label {
  color: var(--lable);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
}

label span {
  color: red;
}

hr {
  border: none;
  border-top: 1px solid var(--borderColor);
  margin: 30px 0;
}

button {
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
}

button[type="reset"] {
  background: #F1F5F9;
  color: #334155;
}

button[type="Submit"] {
  background: #135BEC;
  color: #FFFFFF;
}