* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --background: #1E293B;
  --primary: #344465;
  --forminput: #2E3951;
  --placeholder: #747F92;
  --lable: #ffffff9a;
  --blue: #135BEC;
  --borderColor: #CED4DA;

  --borderRadeCont: 12px;
  --borderRade: 8px;
}

body {
  font-family:'Inter', sans-serif;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-div {
  background-color: var(--primary);
  padding: 40px;
  border-radius: var(--borderRadeCont);
}


.form-div .head {
  font-family: inherit;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  font-size: clamp(0.4rem,9vw,0.7rem);
}

.form-div .head p,.forgot {
  font-size: 12px;
  margin-top: 5px;
  color: var(--blue);
   font-family: inherit;
}
.form-div a{
 text-decoration: none;
}

.input-group input {
  display: block;
  width: 100%;
  border-radius: var(--borderRade);
  border: var(--borderColor) solid 1.5px;
  padding: 8px;
  background-color: var(--forminput);
  margin-top: 5px;
  color: white;
}
input,.pass:focus {
  outline: none;
  border-color: var(--blue);
}
.pass:focus {
  outline: none;
  border-color: var(--blue);
}

label {
font-size: 12px;
color: var(--lable);
margin-bottom: 6px !important;
}
.input-group  {
margin-bottom: 15px !important;
}
 input::placeholder {
  color: var(--placeholder);
  font-size: 12px;
}

.form-div button{
  width: 100%;
  color: white;
  background-color: var(--blue);
  border: none;
  border-radius: var(--borderRade);
  padding: 8px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}
.forgot{
  text-align:center;
  margin-top: 14px;
}
.input-group input {
  display: block;
  width: 100%;
  border-radius: var(--borderRade);
  border: var(--borderColor) solid 1.5px;
  padding: 8px;
  background-color: var(--forminput);
  margin-top: 5px;
  color: white;
}

.input-group input:focus {
  outline: none;
  border-color: var(--blue);
}


/* Styles for the password input container */
.pass {
  position: relative; /* Important for positioning the eye icon */
  border-radius: var(--borderRade);
  border: var(--borderColor) solid 1.5px;
  padding: 7px;
  background-color: var(--forminput);
  margin-top: 5px;
}

.pass input{
background-color: inherit;  
border: none;
color: aliceblue;
}

/* Styles for the eye icon container */
.pass div {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa; /* Adjust color as needed */
}
.active{
 border-color: var(--blue);
}

