* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --background: #1E293B;
  --primary: #344465;
  --forminput: #2E3951;
  --placeholder: #747F92;
  --lable: #ffffff9a;
  --blue: #135BEC;
  --borderColor: #CED4DA;

  --borderRadeCont: 12px;
  --borderRade: 8px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 0;
}

.main {
  display: inline-block;
  background-color: #1E293B;
  border: 1px solid var(--borderColor);
  padding: 20px;
  border-radius: var(--borderRadeCont);
  min-width: 600px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.222);
}
.container{
  margin-top:35px;
}

.ticket-card {
  background-color: #232F48;
  border: 1px solid #E5E7EB;
  border-radius: 24px;
  transition: border-color 0.2s;
}

.ticket-card:hover {
  border-color: #475569;
}

.ticket-title {
  color: #92A4C9;
  font-size: 1rem;
  font-weight: 500;
}

.ticket-id {
  color: #6B7280;
  font-size: 0.85rem;
}

.ticket-info {
  color: #8A96A8;
  font-size: 0.85rem;
}

.ticket-info span{
  color: #6482AB;
}

.support-message {
  background-color: rgba(46, 57, 81, 0.74);
  border-radius: 8px;
  padding: 12px;
}

.support-message p {
  color: #cbd5e1d3;
  font-size: 0.85rem;
  margin: 0;
}

.btn-primary {
  background-color: #135BEC;
  border-color: #135BEC;
}

.btn-primary:hover {
  background-color: #3b82f6;
  border-color: #3b82f6;
}

.btn-secondary {
  background-color: #334155;
  border-color: #334155;
}

.btn-secondary:hover {
  background-color: #475569;
  border-color: #475569;
}

.filter-btn {
  background-color: #1e293b;
  color: #cbd5e1;
  border: none;
}

.filter-btn:hover {
  background-color: #334155;
  color: #cbd5e1;
}

.filter-btn.active {
  background-color: #ffffff;
  color: #0f172a;
}

.badge-open {
  background-color: #3b82f6;
}

.badge-resolved {
  background-color: #10b981;
}

.badge-closed {
  background-color: #6b7280;
}

.badge-progress {
  background-color: #f59e0b;
}

.badge-waiting {
  background-color: #f97316;
}

.header-subtitle {
  color: #94a3b8;
}

.no-tickets {
  color: #94a3b8;
  text-align: center;
  padding: 4rem 0;
  font-size: 1.1rem;
}.pagination {
    margin-top: 2rem;
}

.pagination .page-link {
    background-color: #1e293b;
    border-color: #334155;
    color: #cbd5e1;
}

.pagination .page-link:hover {
    background-color: #334155;
    border-color: #475569;
    color: #ffffff;
}

.pagination .page-item.active .page-link {
    background-color: #3b82f6;
    border-color: #3b82f6;
    color: #ffffff;
}

.pagination .page-item.disabled .page-link {
    background-color: #0f172a;
    border-color: #334155;
    color: #64748b;
}